{% extends "base.html" %}
{% block content %}
<head>
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
</head>

<h1 class="title mt-10 ml-5">
    Welcome {{ name }}, these are your available purchases!
</h1>
<div role="tabpanel" class="ml-5">
    <div class="tab-content inline" style="width: 9%; align-items: center; margin: auto;">
        <div class="tab-pane" id="1" role="tabpanel" style="margin-top: 50px;">
            <form method="POST" action="/purchase">
                <button class="button border-solid border-4 border-black rounded" id="pt_btn">Public transport ticket</button>
                <script>
                    button = document.getElementById("pt_btn")
                    button.onclick = function (){
                        localStorage["category"] = "Public transport"
                    }
                </script>
            </form>
        </div>
        <div class="tab-pane" id="2" role="tabpanel" style="margin-top: 50px;">
            <form method="POST" action="/purchase">
                <button class="button border-solid border-4 border-black rounded" id="am_btn">Amazon voucher</button>
                <script>
                    button = document.getElementById("am_btn")
                    button.onclick = function (){
                        localStorage["category"] = "Amazon voucher"
                    }
                </script>
            </form>
        </div>
        <div class="tab-pane" id="3" role="tabpanel" style="margin-top: 50px;">
            <form method="POST" action="/purchase">
                <button class="button border-solid border-4 border-black rounded" id="zl_btn">Zalando voucher</button>
                <script>
                    button = document.getElementById("zl_btn")
                    button.onclick = function (){
                        localStorage["category"] = "Zalando voucher"
                    }
                </script>
            </form>
        </div>
        <div class="tab-pane" id="4" role="tabpanel" style="margin-top: 50px;">
            <form method="POST" action="/purchase">
                <button class="button border-solid border-4 border-black rounded" id="en_btn">Eneba voucher</button>
                <script>
                    button = document.getElementById("en_btn")
                    button.onclick = function (){
                        localStorage["category"] = "Eneba voucher"
                    }
                </script>
            </form>
        </div>
    </div>
</div>
<div class="mt-20 ml-5">
    Last order: <a id="category"></a> {{ orders }}
    <script>
        document.getElementById("category").innerHTML = localStorage["category"] + " - "
    </script>
</div>

{% endblock %}
